*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #eee;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
}

/*Header section starts*/

.header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 30px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    font-family: sans-serif;
}
.logo .logo-img{
    margin-right: 10px;
}
.nav-list,.sign-list{
    display: flex;
}
.nav-list .nav-item .nav-link{
    color: #4F5665;
    margin-right: 40px;
}
.sign-item .sign-link{
     color: #0B132A;
     font-family: sans-serif;
     margin-right: 30px;
     font-weight: 700;
}
.sign-item .disabled{
    padding: .8rem 1.5rem;
    border: 1px solid #F53855;
    border-radius: 50px;
    color: #F53855;
}

/*Header section ends*/


/*Hero-describtion starts*/

.hero-desc{
    display: flex;
    align-items: center;
}
.desc-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #0B132A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}
.desc-text {
    line-height: 30px;
    color: #4F5665;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.desc-btn {
    background-color: #F53838;
    color: #fff;
    font-weight: 700;
    padding: 1rem 4rem;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: rgb(245 56 56) -0.1rem 1.5rem 4rem;
}
/*Hero-describtion ends*/
/*hcbgbcgnhm*/